 <!-- ======= Header ======= -->

<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
      <div class="logo mr-auto">
        <h1><a href="/es/">Almudena Grau</a></h1>
        <!-- Uncomment below if you prefer to use an image logo -->
        <!-- <a href="index.html"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="/es/">Inicio</a></li>
          <li><a href="/es/servicios.html">Servicios</a></li>
          <li><a href="/es/acerca.html">Sobre mí</a></li>
          <li><a href="/es/contacto.html">Contacto</a></li>
          <li><a href="/">EN</a></li>

        </ul>
      </nav><!-- .nav-menu -->

  </div>
</header>

<!-- End Header -->